
/*Conteudo*/
#textMargin1{
    width: 100%;
    margin-left: 50vh;
}

.rodoviaria{
    width: 50%;
    height: auto;
}

/*TITULO*/

.topo {
    text-align: center;
    padding-top: 2%;
    
}


/*CARDS*/

.displayCard{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
 }
.card{
    width: 20rem; 
    margin-left: 23px;  
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.37);
}

.descricao{
    font-size: 16px;
}
